* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

header {
    width: 100%;
    height: 48px;
    background-color: #EBA234;
}
/* menu button start*/
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 50px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn-burger {
    width: 28px;
    height: 2px;
    background: black;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
    content:'';
    position: absolute;
    width: 28px;
    height: 2px;
    background: black;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before {
    transform: translateY(-10px);
}
.menu-btn-burger::after {
    transform: translateY(10px);
}
.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px)
}
.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px)
}
/*menu button end*/

/*home button*/
#home {
    position: absolute;
    left:88vw;
    top: 7px;
}
main {
    background-color: #fcfcfc;
}
.receitas {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    display: inline-block;
    align-content: center;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 0.5s ease-in-out;
    top: 48px;
    z-index: 99;
}
.receitas h2 {
    font-size: 1.6em;
    margin-top: 2.5rem; 
}
.receitas p {
    font-size: 14pt;
    line-height: 1.15rem;
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 0.8
    }
}

.container {
    
    margin: 2em 0;
}

a {
    color: white;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.l1 {
    padding:0;
    border: 1px solid white;
    width: 60%;
}

h2 {
    font-family: 'Cabin', cursive, sans-serif;
    text-align: center;
    font-weight: bold;
}

.l2 {
    border: 1px solid black;
    width: 18px;
    margin-top: 0.72rem;
}

.btn-light {
    border-radius: 0;
    font-family: 'Cabin', sans-serif;
    background-color: #EBA234;
    margin-left: 0;
}

#preço {
    width: 60%;
    background-color: #EBA234;
    color: black;
    height: 38px;
    text-align: center;
    padding-top: 8px;
    margin-top: 15px;
    font-family: 'Cabin', sans-serif;
    margin-right: 0;
}

.validar {
    color: black;
    background-color: #EBA234;
    width: 100%;
    padding: 5px;
    margin-bottom: 4rem;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;

}

/*log in*/
section {
    margin: 8% 8%;
    font-family: 'Cabin', sans-serif;
}
form {
    display: inline-block;
    align-items: center;
    align-content: center;
}
input {
    width: 60vw;
    height: 3vh;
    align-items: center;
}

#regist {
    text-align: center;
    margin-bottom: 5%;
}
#discricao {
    text-align: center;
    font-size: 12pt;
}
#emailHelp {
    font-size: 10pt;
}
button {
    padding: 0 8px;
    margin-top: 1em; 
}
/*login end*/
footer {
    background-color: black;
    margin-top: 8em;
    
}

#pie2{
    width: 22px;
    padding-top: 10px;
    margin-bottom: 0;
}
.mart2 {
    font-family: 'Cabin', cursive, sans-serif;
    font-size: 14px;
    color: white;

}
.contacts {
    color: white;
    text-align: center;
    font-family: 'Kalam', sans-serif;
    line-height: 1rem;
    margin-top: 2rem;
    font-size: 10pt;
}
.siga {
    font-family: 'Kalam', italic, sans-serif;
    color: white;
    text-align: center;
    font-size: 10pt;
    padding-bottom: 0.2rem
}
.copy {
    width: 90%;
    border: 0.2px solid white; 
}
.right  {
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
}
